.userProfile {
    background: rgba(193, 197, 197, 0.465);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    position: relative;
    padding: 30px;
}

.userProfile button {
}